@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

html,body{
  display: grid;
  width: 100%;
  height:100%;
  place-items: center;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

::selection{
  background: #ff80bf;
}

.box{
  background: #fff;
  max-width: 480px;
  width: 100%;
  margin-top:10px;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.box form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.box form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}

.box form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.box form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.box form .input-box select{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 14px;
  border: none;
}
.box form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.box form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.box form .input-box input:focus ~ .underline::after,
.box form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.box form .button{
  margin: 40px 0 20px 0;
}
.box .input-box input[type="submit"]{
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.box .input-box input[type="submit"]:hover{
  letter-spacing: 2px;
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}
.box .option{
  font-size: 14px;
  text-align: center;
}
