
      /* LAT.CSS  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{margin: 0;padding: 0;  box-sizing: border-box;  font-family: 'Poppins',sans-serif;}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.LAT-serif{font-family:serif}.LAT-sans-serif{font-family:sans-serif}.LAT-cursive{font-family:cursive}.LAT-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.LAT-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.LAT-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.LAT-table,.LAT-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.LAT-table-all{border:1px solid #ccc}
.LAT-bordered tr,.LAT-table-all tr{border-bottom:1px solid #ddd}.LAT-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.LAT-table-all tr:nth-child(odd){background-color:#fff}.LAT-table-all tr:nth-child(even){background-color:#f1f1f1}
.LAT-hoverable tbody tr:hover,.LAT-ul.LAT-hoverable li:hover{background-color:#ccc}.LAT-centered tr th,.LAT-centered tr td{text-align:center}
.LAT-table td,.LAT-table th,.LAT-table-all td,.LAT-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.LAT-table th:first-child,.LAT-table td:first-child,.LAT-table-all th:first-child,.LAT-table-all td:first-child{padding-left:16px}
.LAT-btn,.LAT-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.LAT-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.LAT-btn,.LAT-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.LAT-disabled,.LAT-btn:disabled,.LAT-button:disabled{cursor:not-allowed;opacity:0.3}.LAT-disabled *,:disabled *{pointer-events:none}
.LAT-btn.LAT-disabled:hover,.LAT-btn:disabled:hover{box-shadow:none}
.LAT-badge,.LAT-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.LAT-badge{border-radius:50%}
.LAT-ul{list-style-type:none;padding:0;margin:0}.LAT-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.LAT-ul li:last-child{border-bottom:none}
.LAT-tooltip,.LAT-display-container{position:relative}.LAT-tooltip .LAT-text{display:none}.LAT-tooltip:hover .LAT-text{display:inline-block}
.LAT-ripple:active{opacity:0.5}.LAT-ripple{transition:opacity 0s}
.LAT-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.LAT-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.LAT-dropdown-click,.LAT-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.LAT-dropdown-hover:hover .LAT-dropdown-content{display:block}
.LAT-dropdown-hover:first-child,.LAT-dropdown-click:hover{background-color:#ccc;color:#000}
.LAT-dropdown-hover:hover > .LAT-button:first-child,.LAT-dropdown-click:hover > .LAT-button:first-child{background-color:#ccc;color:#000}
.LAT-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.LAT-check,.LAT-radio{width:24px;height:24px;position:relative;top:6px}
.LAT-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.LAT-bar-block .LAT-dropdown-hover,.LAT-bar-block .LAT-dropdown-click{width:100%}
.LAT-bar-block .LAT-dropdown-hover .LAT-dropdown-content,.LAT-bar-block .LAT-dropdown-click .LAT-dropdown-content{min-width:100%}
.LAT-bar-block .LAT-dropdown-hover .LAT-button,.LAT-bar-block .LAT-dropdown-click .LAT-button{width:100%;text-align:left;padding:8px 16px}
.LAT-main,#main{transition:margin-left .4s}
.LAT-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.LAT-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.LAT-bar{width:100%;overflow:hidden}.LAT-center .LAT-bar{display:inline-block;width:auto}
.LAT-bar .LAT-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.LAT-bar .LAT-dropdown-hover,.LAT-bar .LAT-dropdown-click{position:static;float:left}
.LAT-bar .LAT-button{white-space:normal}
.LAT-bar-block .LAT-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.LAT-bar-block.LAT-center .LAT-bar-item{text-align:center}.LAT-block{display:block;width:100%}
.LAT-responsive{display:block;overflow-x:auto}
.LAT-container:after,.LAT-container:before,.LAT-panel:after,.LAT-panel:before,.LAT-row:after,.LAT-row:before,.LAT-row-padding:after,.LAT-row-padding:before,
.LAT-cell-row:before,.LAT-cell-row:after,.LAT-clear:after,.LAT-clear:before,.LAT-bar:before,.LAT-bar:after{content:"";display:table;clear:both}
.LAT-col,.LAT-half,.LAT-third,.LAT-twothird,.LAT-threequarter,.LAT-quarter{float:left;width:100%}
.LAT-col.s1{width:8.33333%}.LAT-col.s2{width:16.66666%}.LAT-col.s3{width:24.99999%}.LAT-col.s4{width:33.33333%}
.LAT-col.s5{width:41.66666%}.LAT-col.s6{width:49.99999%}.LAT-col.s7{width:58.33333%}.LAT-col.s8{width:66.66666%}
.LAT-col.s9{width:74.99999%}.LAT-col.s10{width:83.33333%}.LAT-col.s11{width:91.66666%}.LAT-col.s12{width:99.99999%}
@media (min-width:601px){.LAT-col.m1{width:8.33333%}.LAT-col.m2{width:16.66666%}.LAT-col.m3,.LAT-quarter{width:24.99999%}.LAT-col.m4,.LAT-third{width:33.33333%}
.LAT-col.m5{width:41.66666%}.LAT-col.m6,.LAT-half{width:49.99999%}.LAT-col.m7{width:58.33333%}.LAT-col.m8,.LAT-twothird{width:66.66666%}
.LAT-col.m9,.LAT-threequarter{width:74.99999%}.LAT-col.m10{width:83.33333%}.LAT-col.m11{width:91.66666%}.LAT-col.m12{width:99.99999%}}
@media (min-width:993px){.LAT-col.l1{width:8.33333%}.LAT-col.l2{width:16.66666%}.LAT-col.l3{width:24.99999%}.LAT-col.l4{width:33.33333%}
.LAT-col.l5{width:41.66666%}.LAT-col.l6{width:49.99999%}.LAT-col.l7{width:58.33333%}.LAT-col.l8{width:66.66666%}
.LAT-col.l9{width:74.99999%}.LAT-col.l10{width:83.33333%}.LAT-col.l11{width:91.66666%}.LAT-col.l12{width:99.99999%}}
.LAT-rest{overflow:hidden}.LAT-stretch{margin-left:-16px;margin-right:-16px}
.LAT-content,.LAT-auto{margin-left:auto;margin-right:auto}.LAT-content{max-width:980px}.LAT-auto{max-width:1140px}
.LAT-cell-row{display:table;width:100%}.LAT-cell{display:table-cell}
.LAT-cell-top{vertical-align:top}.LAT-cell-middle{vertical-align:middle}.LAT-cell-bottom{vertical-align:bottom}
.LAT-hide{display:none!important}.LAT-show-block,.LAT-show{display:block!important}.LAT-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.LAT-auto{max-width:95%}}
@media (max-width:600px){.LAT-modal-content{margin:0 10px;width:auto!important}.LAT-modal{padding-top:30px}
.LAT-dropdown-hover.LAT-mobile .LAT-dropdown-content,.LAT-dropdown-click.LAT-mobile .LAT-dropdown-content{position:relative}	
.LAT-hide-small{display:none!important}.LAT-mobile{display:block;width:100%!important}.LAT-bar-item.LAT-mobile,.LAT-dropdown-hover.LAT-mobile,.LAT-dropdown-click.LAT-mobile{text-align:center}
.LAT-dropdown-hover.LAT-mobile,.LAT-dropdown-hover.LAT-mobile .LAT-btn,.LAT-dropdown-hover.LAT-mobile .LAT-button,.LAT-dropdown-click.LAT-mobile,.LAT-dropdown-click.LAT-mobile .LAT-btn,.LAT-dropdown-click.LAT-mobile .LAT-button{width:100%}}
@media (max-width:768px){.LAT-modal-content{width:500px}.LAT-modal{padding-top:50px}}
@media (min-width:993px){.LAT-modal-content{width:900px}.LAT-hide-large{display:none!important}.LAT-sidebar.LAT-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.LAT-hide-medium{display:none!important}}
@media (max-width:992px){.LAT-sidebar.LAT-collapse{display:none}.LAT-main{margin-left:0!important;margin-right:0!important}.LAT-auto{max-width:100%}}
.LAT-top,.LAT-bottom{position:fixed;width:100%;z-index:1}.LAT-top{top:0}.LAT-bottom{bottom:0}
.LAT-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.LAT-display-topleft{position:absolute;left:0;top:0}.LAT-display-topright{position:absolute;right:0;top:0}
.LAT-display-bottomleft{position:absolute;left:0;bottom:0}.LAT-display-bottomright{position:absolute;right:0;bottom:0}
.LAT-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.LAT-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.LAT-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.LAT-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.LAT-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.LAT-display-container:hover .LAT-display-hover{display:block}.LAT-display-container:hover span.LAT-display-hover{display:inline-block}.LAT-display-hover{display:none}
.LAT-display-position{position:absolute}
.LAT-circle{border-radius:50%}
.LAT-round-small{border-radius:2px}.LAT-round,.LAT-round-medium{border-radius:4px}.LAT-round-large{border-radius:8px}.LAT-round-xlarge{border-radius:16px}.LAT-round-xxlarge{border-radius:32px}
.LAT-row-padding,.LAT-row-padding>.LAT-half,.LAT-row-padding>.LAT-third,.LAT-row-padding>.LAT-twothird,.LAT-row-padding>.LAT-threequarter,.LAT-row-padding>.LAT-quarter,.LAT-row-padding>.LAT-col{padding:0 8px}
.LAT-container,.LAT-panel{padding:0.01em 16px}.LAT-panel{margin-top:16px;margin-bottom:16px}
.LAT-code,.LAT-codespan{font-family:Consolas,"courier new";font-size:16px}
.LAT-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.LAT-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.LAT-card,.LAT-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.LAT-card-4,.LAT-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.LAT-spin{animation:LAT-spin 2s infinite linear}@keyframes LAT-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.LAT-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.LAT-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.LAT-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.LAT-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.LAT-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.LAT-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.LAT-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.LAT-animate-input{transition:width 0.4s ease-in-out}.LAT-animate-input:focus{width:100%!important}
.LAT-opacity,.LAT-hover-opacity:hover{opacity:0.60}.LAT-opacity-off,.LAT-hover-opacity-off:hover{opacity:1}
.LAT-opacity-max{opacity:0.25}.LAT-opacity-min{opacity:0.75}
.LAT-greyscale-max,.LAT-grayscale-max,.LAT-hover-greyscale:hover,.LAT-hover-grayscale:hover{filter:grayscale(100%)}
.LAT-greyscale,.LAT-grayscale{filter:grayscale(75%)}.LAT-greyscale-min,.LAT-grayscale-min{filter:grayscale(50%)}
.LAT-sepia{filter:sepia(75%)}.LAT-sepia-max,.LAT-hover-sepia:hover{filter:sepia(100%)}.LAT-sepia-min{filter:sepia(50%)}
.LAT-tiny{font-size:10px!important}.LAT-small{font-size:12px!important}.LAT-medium{font-size:15px!important}.LAT-large{font-size:18px!important}
.LAT-xlarge{font-size:24px!important}.LAT-xxlarge{font-size:36px!important}.LAT-xxxlarge{font-size:48px!important}.LAT-jumbo{font-size:64px!important}
.LAT-left-align{text-align:left!important}.LAT-right-align{text-align:right!important}.LAT-justify{text-align:justify!important}.LAT-center{text-align:center!important}
.LAT-border-0{border:0!important}.LAT-border{border:1px solid #ccc!important}
.LAT-border-top{border-top:1px solid #ccc!important}.LAT-border-bottom{border-bottom:1px solid #ccc!important}
.LAT-border-left{border-left:1px solid #ccc!important}.LAT-border-right{border-right:1px solid #ccc!important}
.LAT-topbar{border-top:6px solid #ccc!important}.LAT-bottombar{border-bottom:6px solid #ccc!important}
.LAT-leftbar{border-left:6px solid #ccc!important}.LAT-rightbar{border-right:6px solid #ccc!important}
.LAT-section,.LAT-code{margin-top:16px!important;margin-bottom:16px!important}
.LAT-margin{margin:16px!important}.LAT-margin-top{margin-top:16px!important}.LAT-margin-bottom{margin-bottom:16px!important}
.LAT-margin-left{margin-left:16px!important}.LAT-margin-right{margin-right:16px!important}
.LAT-padding-small{padding:4px 8px!important}.LAT-padding{padding:8px 16px!important}.LAT-padding-large{padding:12px 24px!important}
.LAT-padding-16{padding-top:16px!important;padding-bottom:16px!important}.LAT-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.LAT-padding-32{padding-top:32px!important;padding-bottom:32px!important}.LAT-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.LAT-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.LAT-padding-top-64{padding-top:64px!important}.LAT-padding-top-48{padding-top:48px!important}
.LAT-padding-top-32{padding-top:32px!important}.LAT-padding-top-24{padding-top:24px!important}
.LAT-left{float:left!important}.LAT-right{float:right!important}
.LAT-button:hover{color:#000!important;background-color:#ccc!important}
.LAT-transparent,.LAT-hover-none:hover{background-color:transparent!important}
.LAT-hover-none:hover{box-shadow:none!important}
/* Colors */
.LAT-amber,.LAT-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.LAT-aqua,.LAT-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.LAT-blue,.LAT-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.LAT-light-blue,.LAT-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.LAT-brown,.LAT-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.LAT-cyan,.LAT-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.LAT-blue-grey,.LAT-hover-blue-grey:hover,.LAT-blue-gray,.LAT-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.LAT-green,.LAT-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.LAT-light-green,.LAT-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.LAT-indigo,.LAT-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.LAT-khaki,.LAT-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.LAT-lime,.LAT-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.LAT-orange,.LAT-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.LAT-deep-orange,.LAT-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.LAT-pink,.LAT-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.LAT-purple,.LAT-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.LAT-deep-purple,.LAT-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.LAT-red,.LAT-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.LAT-sand,.LAT-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.LAT-teal,.LAT-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.LAT-yellow,.LAT-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.LAT-white,.LAT-hover-white:hover{color:#000!important;background-color:#fff!important}
.LAT-black,.LAT-hover-black:hover{color:#fff!important;background-color:#000!important}
.LAT-grey,.LAT-hover-grey:hover,.LAT-gray,.LAT-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.LAT-light-grey,.LAT-hover-light-grey:hover,.LAT-light-gray,.LAT-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.LAT-dark-grey,.LAT-hover-dark-grey:hover,.LAT-dark-gray,.LAT-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.LAT-pale-red,.LAT-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.LAT-pale-green,.LAT-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.LAT-pale-yellow,.LAT-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.LAT-pale-blue,.LAT-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.LAT-text-amber,.LAT-hover-text-amber:hover{color:#ffc107!important}
.LAT-text-aqua,.LAT-hover-text-aqua:hover{color:#00ffff!important}
.LAT-text-blue,.LAT-hover-text-blue:hover{color:#2196F3!important}
.LAT-text-light-blue,.LAT-hover-text-light-blue:hover{color:#87CEEB!important}
.LAT-text-brown,.LAT-hover-text-brown:hover{color:#795548!important}
.LAT-text-cyan,.LAT-hover-text-cyan:hover{color:#00bcd4!important}
.LAT-text-blue-grey,.LAT-hover-text-blue-grey:hover,.LAT-text-blue-gray,.LAT-hover-text-blue-gray:hover{color:#607d8b!important}
.LAT-text-green,.LAT-hover-text-green:hover{color:#4CAF50!important}
.LAT-text-light-green,.LAT-hover-text-light-green:hover{color:#8bc34a!important}
.LAT-text-indigo,.LAT-hover-text-indigo:hover{color:#3f51b5!important}
.LAT-text-khaki,.LAT-hover-text-khaki:hover{color:#b4aa50!important}
.LAT-text-lime,.LAT-hover-text-lime:hover{color:#cddc39!important}
.LAT-text-orange,.LAT-hover-text-orange:hover{color:#ff9800!important}
.LAT-text-deep-orange,.LAT-hover-text-deep-orange:hover{color:#ff5722!important}
.LAT-text-pink,.LAT-hover-text-pink:hover{color:#e91e63!important}
.LAT-text-purple,.LAT-hover-text-purple:hover{color:#9c27b0!important}
.LAT-text-deep-purple,.LAT-hover-text-deep-purple:hover{color:#673ab7!important}
.LAT-text-red,.LAT-hover-text-red:hover{color:#f44336!important}
.LAT-text-sand,.LAT-hover-text-sand:hover{color:#fdf5e6!important}
.LAT-text-teal,.LAT-hover-text-teal:hover{color:#009688!important}
.LAT-text-yellow,.LAT-hover-text-yellow:hover{color:#d2be0e!important}
.LAT-text-white,.LAT-hover-text-white:hover{color:#fff!important}
.LAT-text-black,.LAT-hover-text-black:hover{color:#000!important}
.LAT-text-grey,.LAT-hover-text-grey:hover,.LAT-text-gray,.LAT-hover-text-gray:hover{color:#757575!important}
.LAT-text-light-grey,.LAT-hover-text-light-grey:hover,.LAT-text-light-gray,.LAT-hover-text-light-gray:hover{color:#f1f1f1!important}
.LAT-text-dark-grey,.LAT-hover-text-dark-grey:hover,.LAT-text-dark-gray,.LAT-hover-text-dark-gray:hover{color:#3a3a3a!important}
.LAT-border-amber,.LAT-hover-border-amber:hover{border-color:#ffc107!important}
.LAT-border-aqua,.LAT-hover-border-aqua:hover{border-color:#00ffff!important}
.LAT-border-blue,.LAT-hover-border-blue:hover{border-color:#2196F3!important}
.LAT-border-light-blue,.LAT-hover-border-light-blue:hover{border-color:#87CEEB!important}
.LAT-border-brown,.LAT-hover-border-brown:hover{border-color:#795548!important}
.LAT-border-cyan,.LAT-hover-border-cyan:hover{border-color:#00bcd4!important}
.LAT-border-blue-grey,.LAT-hover-border-blue-grey:hover,.LAT-border-blue-gray,.LAT-hover-border-blue-gray:hover{border-color:#607d8b!important}
.LAT-border-green,.LAT-hover-border-green:hover{border-color:#4CAF50!important}
.LAT-border-light-green,.LAT-hover-border-light-green:hover{border-color:#8bc34a!important}
.LAT-border-indigo,.LAT-hover-border-indigo:hover{border-color:#3f51b5!important}
.LAT-border-khaki,.LAT-hover-border-khaki:hover{border-color:#f0e68c!important}
.LAT-border-lime,.LAT-hover-border-lime:hover{border-color:#cddc39!important}
.LAT-border-orange,.LAT-hover-border-orange:hover{border-color:#ff9800!important}
.LAT-border-deep-orange,.LAT-hover-border-deep-orange:hover{border-color:#ff5722!important}
.LAT-border-pink,.LAT-hover-border-pink:hover{border-color:#e91e63!important}
.LAT-border-purple,.LAT-hover-border-purple:hover{border-color:#9c27b0!important}
.LAT-border-deep-purple,.LAT-hover-border-deep-purple:hover{border-color:#673ab7!important}
.LAT-border-red,.LAT-hover-border-red:hover{border-color:#f44336!important}
.LAT-border-sand,.LAT-hover-border-sand:hover{border-color:#fdf5e6!important}
.LAT-border-teal,.LAT-hover-border-teal:hover{border-color:#009688!important}
.LAT-border-yellow,.LAT-hover-border-yellow:hover{border-color:#ffeb3b!important}
.LAT-border-white,.LAT-hover-border-white:hover{border-color:#fff!important}
.LAT-border-black,.LAT-hover-border-black:hover{border-color:#000!important}
.LAT-border-grey,.LAT-hover-border-grey:hover,.LAT-border-gray,.LAT-hover-border-gray:hover{border-color:#9e9e9e!important}
.LAT-border-light-grey,.LAT-hover-border-light-grey:hover,.LAT-border-light-gray,.LAT-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.LAT-border-dark-grey,.LAT-hover-border-dark-grey:hover,.LAT-border-dark-gray,.LAT-hover-border-dark-gray:hover{border-color:#616161!important}
.LAT-border-pale-red,.LAT-hover-border-pale-red:hover{border-color:#ffe7e7!important}.LAT-border-pale-green,.LAT-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.LAT-border-pale-yellow,.LAT-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.LAT-border-pale-blue,.LAT-hover-border-pale-blue:hover{border-color:#e7ffff!important}
@media (max-width: 900px) {
  iframe {height: 8000px;}
	
